asgiref==3.8.1
distlib==0.3.9
Django==5.1.7
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.0
filelock==3.18.0
node==1.2.2
odict==1.9.0
pillow==11.1.0
platformdirs==4.3.7
plumber==1.7
setuptools==80.7.1
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.30.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.0
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
