# الأساسيات
Django==5.1.7
djangorestframework==3.16.0
django-cors-headers==4.7.0

# السيرفر والملفات الثابتة
gunicorn==23.0.0
whitenoise==6.8.2

# التعامل مع الصور
pillow==11.1.0

# أدوات مساعدة (اختياري)
django-extensions==3.2.3
sqlparse==0.5.3
